NODE_ENV = development
NODE_PORT = 4000
DB_HOST = 'ezybill.cawazjqaqbhs.ap-south-1.rds.amazonaws.com'
DB_USER = ezybill
DB_NAME = eBillDB
DB_PASSWORD = '123MyPassword'
TEXTLOCAL_API_KEY = 'NDE0ZDZkMzU1MjQ0NGU1NjUwNzIzMTZkNDU3MjY2NjI='
JWT_PRIVATE_KEY = 'EzyBillJWTPrivateKey'
TEXTLOCAL_SENDER = 'EZYBIN'
MENU_URL='localhost:4000/menu'
URL='http://localhost:4000'
ZOHO_USERNAME=
ZOHO_PASSWORD=
